<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}- FlaskApp</title>
    <style>
      .inventory {
        padding: 10px;
        margin: 5px;
        background-color: #f3f3f3
      }

      .alert {
        padding: 20px;
        margin: 5px;
        color: 'red';
        background-color: #ffd5de;
      }      
    </style>
</head>
<body>
    <nav>
        <a href="{{ url_for('index') }}">FlaskApp</a>
        <a href="{{ url_for('create') }}">Create</a>
        <a href="#">About</a>
    </nav>
    <hr>
     <div class="content">
				{% for message in get_flashed_messages() %}
					<div class='alert'>{{ message }}</div>
				{% endfor %}
        
        {% block content %} {% endblock %}
    </div>
</body>
</html>

