{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Add a new Inventory {% endblock %}</h1>
    <form method="post">
        <label for="name">Name</label>
        <br>
        <input type="text" name="name"
               placeholder="Inventory Name"
               value="{{ request.form['name'] }}"></input>
        <br>
        
        <label for="price">Price</label>
        <br>
        <input type="text" name="price" placeholder="Price" value="{{ request.form['price'] }}">
        <br>

        <label for="stock">Stock</label>
        <br>
        <input type="text" name="stock" placeholder="Stock" value="{{ request.form['stock'] }}">
        <br>

        <label for="image">Image</label>
        <br>
        <input type="file" name="image" value="{{ request.form['image'] }}">
        <br>

        <label for="description">Description</label>
        <br>
        <textarea name="description"
                  placeholder="Description"
                  rows="15"
                  cols="60"
                  >{{ request.form['description'] }}</textarea>
        <br>
        <button type="submit">Submit</button>
    </form>
{% endblock %}
